#Lab: Appendix C

###Goals: 

The goals for the this lab are to use real data to explore important concepts in Appendix B and Appendix C of
Wooldridge using real data. In this lab we will explore concepts related to:
• Estimates and Estimators
• hypothesis testing and pvalues

###Basics

1. Always include your import statements. Remember that you can add to the import statements at any time, as long as you rerun your code after. As always, copy and pasting what is inside these notebooks will suffice.

In [14]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import matplotlib.pyplot as plt

2. Load the dataset entitled “Holzer et al”. The dataset is in .xlsx format which is a little different then loading a stata dataset. In this case the python package has a method pandas.read_excel which works the same as pandas.read_stata which we have used before.

In [15]:
df = pd.read_excel(r'C:\Users\patri\Desktop\Metrics TA\Holzer.xlsx')
df

    Firm   Scrap Rate 1987  Scrap Rate 1988
0       1            10.00             3.00
1       2             1.00             1.00
2       3             6.00             5.00
3       4             0.45             0.50
4       5             1.24             1.54
5       6             1.30             1.50
6       7             1.06             0.80
7       8             3.00             2.00
8       9             8.18             0.67
9      10             1.67             1.17
10     11             0.98             0.51
11     12             1.00             0.50
12     13             0.45             0.61
13     14             5.03             6.70
14     15             8.00             4.00
15     16             9.00             7.00
16     17            18.00            19.00
17     18             0.28             0.20
18     19             7.00             5.00
19     20             3.97             3.83

2. The dataset contains information on 20 randomly sampled manufacturing firms in Michigan who received
training grants in 1988 to improve worker productivity. Worker productivity is captured by “scrap rates” are the number of products (per 100 produced) that are unusable and must be discarded. The variables contained in the dataset are:
• Firm number
• Scrap rate in 1987
• Scrap rate in 1988

##Estimates, Estimators, and Hypothesis Testing
We are interested in estimating the average change in scrap rates for firms undergoing the job training program.

We know from class that the least-squared estimator of the mean change in scrap rates for the population of Michigan manufacturing firms (µ∆scraprate) is the sample mean in the change in scrap rates (Y¯∆scraprate).

To get an estimate using our sample we need to:

1. Generate a new column  called “change” equal to the change in scrap rates between 1987 and 1988

2. Calculate the mean of this new variable to find Y¯∆scrap−rate using the “sum” command.
Through these steps we get an estimate that the mean population change in scrap rates is −1.15 (the sample
mean).